html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/simcity.jpg);
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

#bombControls {
    background-color: black;
    width: 175px;
    height: 380px;
}

#timer {
    color: red;
    font-size: 1.5em;
}

#reset{
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}
